<h4>talks</h4>

<ul>
  <li>
    <strong>Collective intelligence and open technologies</strong><br />
    Week of Wisdom (Tsinghua University)<br />
    <span>2014 &#8211; Tam-Kien Duong</span>
  </li>
  <li>
      <strong>Scaling Up Learning Communities: ecology of open technologies for analytics and collective intelligence</strong><br />
      <a href="http://cns.iu.edu/workshops/event/141103.html">Plug&Play Macroscopes</a> (Indiana University)<br />
      <span>2014 &#8211; Tam-Kien Duong</span>
  </li>
  <li>
    <strong>Interfaces innovantes (clés de lecture)</strong><br />
    Sharing day pour l&#8217;agence heaven<br />
    <span>2009 &#8211; Tam-Kien Duong</span></li>
  <li>
    <strong>Exploration de la communauté online du Parkour</strong><br />
    Journée d&#8217;étude « pratiques ethnographiques sur internet »<br />
    <span class="author list">2009 &#8211; Emmanuel Berne &amp; Tam-Kien Duong</span>
  </li>
  <li>
    <strong>multipliCity Disorder : La complexité au service de la pluralité</strong><br />
    Séminaire « esthétique et complexité » de l&#8217;Institut des Systèmes Complexes de Paris Île-de-France<br />
    <span class="author list">2008 &#8211; Angélique Chedemois, Aleksandra Wasilkowska &amp; Tam-Kien Duong</span></li>
</ul>
