<section id="who" class="container">
	<div class="container">
		<div class="content">
			<h3 class="col-a">Who ?</h3>
		</div>
	</div>

	<div class="content multi-col">
		<div class="col-a col">
			<img src="/images/tk-ninja.png" class="no_shadow" />
		</div>

		<div class="col-b-d col">

		<div class="statement">
			Duong Tam Kien<br />is the founder of formism (2010-2013)<br/>and then offering the one-man-show leading to crossroads between social sciences and information architecture.
		</div>

		<div class="multi-col col-b-d">
		<div class="col col-b-c">
			<h4>Diplomas</h4>

			<ul>
				<del><li>Preparation of a PhD about information architecture<br />
				<span>2006-2008 &#8211; Ecole des Hautes Etudes en Sciences Sociales</span></li></del>
				<li>Master philosophy and sociology of knowledge<br />
				<span>2006 &#8211; University Paris IV Sorbonne</span></li>
				<li>MST applied social sciences<br />
				<span>2005 &#8211; Universities Paris IV Sorbonne &amp; Paris V Sorbonne Descartes</span></li>
				<li>DEUG applied mathematics and psychology<br />
				<span>2003 &#8211; University Paris V Sorbonne Descartes</span></li>
			</ul>
		</div>

		<div class="col">
			<h4>Work experiences</h4>

			<ul>
				<li>Designer<br/>
				<span>Institut Recherche et Innovation (Centre Pompidou)</span><br/>
				</li>
				<li>Research engineer<br/>
				<span>Institut Francilien Recherche Innovation Société</span><br/>
				<span>Center for Research and Interdisciplinarity</span>
				</li>
				<li>UI and front web developper<br />
				<span>Etalab (DINSIC)</span><br/>
				<span>Lusis</span></li>
				<li>Information architect<br />
				<span>Blind/Heaven</span></li>
				<li>Field sociologist</li>
				<li>Communication executive<br />
				<span>Complex Systems Institute</span></li>
			</ul>
		</div>

		</div>
		</div>
	</div>
</section>
